.root{
	-fx-font-size: 12px;
	-fx-text-fill: #403152;
	-fx-background-color: #F0F8FF;
}

.pane-bg {
	-fx-background-color: #F0F8FF;	
}

.label {
	-fx-font-weight: BOLD;
}

/* Button */
.button {
    -fx-text-fill: white;
	-fx-background-color: linear-gradient(rgb(101,189,225), rgb(0,112,192));
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.2) , 5, 0.0 , 0 , 1 ); 
}
 
.button:hover {
	-fx-background-color: linear-gradient(rgb(0,112,192), rgb(101,189,225));
}

/* ComboBox*/
.combo-box-base {
    -fx-text-fill: white;
	-fx-background-color: linear-gradient(rgb(101,189,225), rgb(0,112,192));
	-fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.2) , 5, 0.0 , 0 , 1 );
}

.combo-box .list-cell {
	-fx-background: white;
	-fx-background-color: transparent;
	-fx-text-fill: white;
}
.combo-box-popup .list-view {
	-fx-background-color: white, white;
	-fx-background-insets: 0, 1;
	-fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 8, 0.0 , 0 , 0 );
} 

.combo-box-popup .list-view .list-cell {
	-fx-padding: 4 0 4 5;
	-fx-text-fill: rgb(0,32,96);
	-fx-background-color: white;
}
.combo-box-popup .list-view .list-cell:filled:selected, .combo-box-popup .list-view .list-cell:filled:selected:hover {
	-fx-background: -fx-accent;
	-fx-background-color: -fx-selection-bar;
	-fx-text-fill: -fx-selection-bar-text;
}
.combo-box-popup .list-view .list-cell:filled:hover {
	-fx-background-color: white;
	-fx-text-fill: -fx-text-inner-color;
}

/* Text Field */
.text-field {
    -fx-effect: dropshadow( three-pass-box, rgba(0,0,0,0.2), 5, 0.0, 0, 1);	
}

/* Table View */
.table-view {
    -fx-base: rgb(255,255,255);
    /* -fx-control-inner-background: #1d1d1d; */
    -fx-background-color: rgb(255,255,255);
	
    -fx-table-cell-border-color: transparent;
    -fx-table-header-border-color: transparent;
}

.table-view .column-header-background {
    -fx-background-color: transparent;
}

.table-view .column-header, .table-view .filler {
    -fx-size: 25;
    -fx-border-width: 0 0 1 0;
    -fx-border-color: transparent transparent derive(-fx-base, 80%) transparent;
	-fx-background-color: linear-gradient(rgb(78,156,156), rgb(145,200,200));
	-fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 3, 0.0 , 0 , 1 );
}

.table-view .column-header .label {
    -fx-text-fill: white;
    -fx-alignment: center;
    -fx-opacity: 1;
}

/* 
.table-view:focused .table-row-cell:filled:focused:selected {
    -fx-background-color: brown;
}
*/
.table-view:focused .table-row-cell:filled:selected {
    -fx-background-color: brown;
}

.table-view:empty {
	-fx-background-color: white;
}

.table-row-cell:odd {
	-fx-background-color: rgb(214,234,234);
}

.table-row-cell .table-cell {
	-fx-background-color: transparent;
	-fx-border-width: 1px;
	-fx-border-color: rgb(235,245,245);
	-fx-padding: 1 1 1 1;
}